body{
    font-family: 'Montserrat';
}

.fixed-header{
    padding : 1rem !important;
    background-color: white;
    border-bottom: 1px solid #EFF2F4 !important;
}

.floating-close-button-circle{
    position: absolute;
    right: 14px;
    top: 5%;
}

.btn-simpan-menu{
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #005E6A;
    border: none;
    border-radius: 20px;
}